<div>
  Login to access page
</div>
<form [formGroup]="form" (submit)="login()">
  <app-error></app-error>
  <label>
    Email:
    <input type="text" formControlName="email">
  </label>

  <label>
    Password:
    <input type="password" formControlName="password">
  </label>
  <button type="submit">Submit</button>
</form>
